server 
{
	listen 8000 default_server;
	listen [::]:8000 default_server;


        location /driver
        {
             proxy_pass http://${API_V1}:8080;
        }

        location /rider
        {
            proxy_pass http://${API_V1}:8080;
        }

        location /rating
        {
            proxy_pass http://${API_V2}:8080;
        }


        
}
